* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}


.container {
  background-image: url(/assets/img/bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0 100px;
}


header {
  margin-bottom: 2.5rem;
  width: 100%;
  text-align: center;
}

.logo {
  width: 300px;
  padding: 2rem 2rem;
}

h1 {


  font-size: 60px;
  font-weight: 350;
  color: white;
  margin-bottom: 3rem;
}

.title {
  font-family: "Outfit", serif;
}

.bold {
  font-weight: bold;
}

h2 {
  color: #d20094;
  margin-bottom: 2rem;
}

.writings {
  text-align: left;
  padding-left: 4rem;
  margin: 5rem 1rem;
  line-height: 40px;
  font-size: 16px;
}

ul {
  margin-left: 2rem;
}

.formContent {
  display: inline-block;
  width: 100%;
}

.formContent div .formContent form {
  display: inline-block;
}

#bntWelcome,
#benchmarkButton {
  padding: 1rem 3rem;
  background-color: #00ffff;
  filter: drop-shadow(0 0 8px #00ffff);
  color: black;
  font-weight: bold;
  font-size: 25px;
  border: 2px solid transparent;
  cursor: pointer;
  margin: 0 12% 0 0;
  float: right;
}

#errorMessage {
  display: none;
  color: red;

}

/*---------PAGINA BENCHMARK---------*/

/* titolo */

#benchmarkTitle {
  font-size: 32px;
  text-align: left;
  width: 900px;
}

.question-header {
  max-width: 900px;
  padding-top: 2rem;
  height: 15vh;
}

/* timer */
#timer {
  position: absolute;
  width: 150px;
  height: 150px;
  margin-left: 5rem;
}

#timer-circle {
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

/*AFFIANCO IL TIMER ALLE DOMANDE*/

#timer,
#benchmarkTitle {
  display: inline-block;
  vertical-align: top;
}

#timer-background,
#progress-circle {
  cx: 75;
  /*  sono attributi specifici di SVG (Scalable Vector Graphics) e non proprietà CSS standard. Questi attributi sono usati per definire la posizione e il raggio di un cerchio SVG. */
  cy: 75;
  r: 70;
  stroke-width: 10;
}

#timer-background {
  stroke-dasharray: 440;
  stroke-dashoffset: 0;
}

#progress-circle {
  stroke-dasharray: 440;
  stroke-dashoffset: 0;
  /* metti 440 se vuoi l'animazione al caricamento della pagina */
  transition: stroke-dashoffset 1s linear;
}

#timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#timer-text-top,
#timer-text-bottom {
  font-size: 8px;
  color: #ffffff;
  font-weight: bold;
}

#timer-text-middle {
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  margin: 5px 0;
}

/* Risposte */

.answerBox {
  margin-top: 5rem;
}

#answerList {
  list-style: none;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#answerList li {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
  margin: 1rem 0;
}

#answerList li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

#answerList li.selected {
  background-color: #d20094;
  color: white;
}

#answerList li.selected:hover {
  background-color: #b1007d;
  cursor: pointer;
}

.questionNav {
  margin-top: 5rem;
}

.questionNav p {
  padding-top: 2rem;
}

#questionNumber {
  word-spacing: 5px;
  letter-spacing: 2px;
}

#questionNumber .changeColor {
  color: #d20094;
  word-spacing: 1px;
}

#benchmarkButton {
  margin: 0 12% 0 0;
  float: right;
}

#questionNumber,
#benchmarkButton {
  display: inline-block;
}

/*#questionNumber {
  /*left: 480px;
  Puoi modificare questo valore per spostarlo orizzontalmente */
/*bottom: 130px;
  /* Puoi modificare questo valore per spostarlo verticalmente */
/*font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
}*/



/*------BOTTONE FINALE-------*/



/*----------PAGINA 3-------------- */

/*TITOLO + PARAGRAFO*/

.titleParagraph {
  text-align: center;
}

.titleParagraph h2 {
  color: white;
  font-size: 60px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.titleParagraph p {
  font-size: 32px;
  margin-bottom: 3rem;
}

/* PROVA GARFICO A DONUT*/

.chart {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: conic-gradient(#d20094 0deg 80deg, #00ffff 80deg 180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartPosition {
  max-width: fit-content;
}

.chart::before {
  content: '';
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #0a113b;

}

/*BOX RIGHT AND WRONG*/

.boxes {
  max-width: fit-content;
  line-height: 40px;
  margin-left: 15rem;
  text-align: center;
}

.boxes,
.chartPosition {
  display: inline-block;
  vertical-align: top;
}

.boxOne,
.boxTwo {
  background-color: transparent;
  filter: drop-shadow(0 0 3px #0a113b);
  border: 2px solid #0a113b;
  padding: 2rem 5rem;
}

.boxOne {
  margin-bottom: 2rem;
}

.boxOne h4,
.boxTwo h4 {
  font-size: 30px;
  letter-spacing: 0.3rem;
  font-weight: normal;
}

.boxOne p,
.boxTwo p {
  word-spacing: 0.3rem;
}

.boxOne p span,
.boxTwo p span {
  color: #d20094;
  font-size: 20px;
}

.percentageWrong,
.percentageRight {
  font-size: 30px;
}

/*BOTTONE RATE US*/

#btnRateUs {
  padding: 1rem 3rem;
  margin-top: 5rem;
  background: transparent;
  filter: drop-shadow(0 0 8px black);
  color: white;
  font-weight: bold;
  font-size: 25px;
  border: 3px solid white;
  cursor: pointer;
}

#btnRateUs:hover {
  background-color: white;
  color: #0a113b;
  filter: drop-shadow(0 0 8px black);

}

.mainResultPage {
  text-align: center;
}