* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}


.container {
  background-image: url(/assets/img/bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 0 100px 20px 100px;
}


header {
  margin-bottom: 2.5rem;
  width: 100%;
  text-align: center;
}

.logo {
  width: 300px;
  padding: 2rem 2rem;
}

h1 {


  font-size: 60px;
  font-weight: 350;
  color: white;
  margin-bottom: 3rem;
}

.title {
  font-family: "Outfit", serif;
}

.bold {
  font-weight: bold;
}

h2 {
  color: #d20094;
  margin-bottom: 2rem;
}

.writings {
  text-align: left;
  padding-left: 4rem;
  margin: 5rem 1rem;
  line-height: 40px;
  font-size: 16px;
}

ul {
  margin-left: 2rem;
}

.formContent {
  display: inline-block;
  width: 100%;
}

.formContent div .formContent form {
  display: inline-block;
}

#bntWelcome,
#benchmarkButton {
  padding: 1rem 3rem;
  background-color: #00ffff;
  filter: drop-shadow(0 0 8px #00ffff);
  color: black;
  font-weight: bold;
  font-size: 25px;
  border: 2px solid transparent;
  cursor: pointer;
  margin: 0 12% 0 0;
  float: right;
}

#errorMessage {
  display: none;
  color: red;

}

/*CHECKOUT CUSTOM */
input {
  appearance: none;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #d20094;
  border-radius: 4px;
  line-height: 1.1;
  background: transparent;
  top: 2.1px;
}

input[type="checkbox"]::before {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

input[type="checkbox"]:checked::before {
  content: "\2714";
  color: #d20094;
}


/*---------PAGINA BENCHMARK---------*/

/* titolo */

#benchmarkTitle {
  font-size: 32px;
  text-align: left;
  width: 900px;
}

.question-header {
  max-width: 900px;
  padding-top: 2rem;
  height: 15vh;
}

/* timer */
#timer {
  position: absolute;
  margin-left: 5rem;
  left: 70%;
}

#timer-circle {
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

/*AFFIANCO IL TIMER ALLE DOMANDE*/

#timer,
#benchmarkTitle {
  display: inline-block;
  vertical-align: top;
}

/*#timer-background,
#progress-circle {
  /*cx: 75;
  /*  sono attributi specifici di SVG (Scalable Vector Graphics) e non proprietà CSS standard. Questi attributi sono usati per definire la posizione e il raggio di un cerchio SVG. */
/*cy: 75;
  r: 70;*/
/*stroke-width: 10;} /*dimensione cerchio blu*/


#timer-background {
  stroke-dasharray: 440;
  /*background della linea, parte da inizio cerchio*/
  stroke-dashoffset: 0;
  /* da dove parte la linea blu, 0 significa inizio*/
}

#progress-circle {
  stroke-dasharray: 440;
  stroke-dashoffset: 0;
  /* metti 440 se vuoi l'animazione al caricamento della pagina */
  transition: 1s linear;
}

#timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#timer-text-top,
#timer-text-bottom {
  font-size: 8px;
  color: #ffffff;
  font-weight: bold;
}

#timer-text-middle {
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  margin: 5px 0;
}

/* Risposte */

.answerBox {
  margin-top: 5rem;
}

#answerList {
  list-style: none;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  min-height: 35vh;
}

#answerList li {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
  margin: 1rem 0;
}

#answerList li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

#answerList li.selected {
  background-color: #d20094;
  color: white;
}

#answerList li.selected:hover {
  background-color: #b1007d;
  cursor: pointer;
}

.questionNav {
  margin-top: 5rem;
}

/*DOMANDE COUNT + BOTTONE*/

.questionNav p {
  padding-top: 2rem;
}

#questionNumber {
  word-spacing: 5px;
  letter-spacing: 2px;
}

#questionNumber .changeColor {
  color: #d20094;
  word-spacing: 1px;
}

#benchmarkButton {
  margin: 0 12% 0 0;
  float: right;
}

#questionNumber,
#benchmarkButton {
  display: inline-block;
}

/*#questionNumber {
  /*left: 480px;
  Puoi modificare questo valore per spostarlo orizzontalmente */
/*bottom: 130px;
  /* Puoi modificare questo valore per spostarlo verticalmente */
/*font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
}*/



/*------BOTTONE FINALE-------*/



/*----------PAGINA 3-------------- */

/*TITOLO + PARAGRAFO*/
#resultsHeader{
  margin-bottom: 0;
}

.titleParagraph {
  text-align: center;
}

.titleParagraph h2 {
  color: white;
  font-size: 60px;
  margin-bottom: 1rem;
  -margin-top: 1rem;
}

.titleParagraph p {
  font-size: 32px;
  margin-bottom: 1rem;
}

/* PROVA GARFICO A DONUT*/
.chartPosition {
  position: relative;
}

#innerChart {
  max-width: 13rem;
  position: absolute;
  bottom: 170px;
  /* MISURE DA VERIFICARE*/
  left: 150px;
}

/*BOX RIGHT AND WRONG*/

.boxes {
  max-width: fit-content;
  line-height: 40px;
  margin-left: 5rem;
  min-height: 400px;
}

.boxes,
.chartPosition {
  display: inline-block;
  vertical-align: middle;
}

.boxOne,
.boxTwo {
  background-color: transparent;
  filter: drop-shadow(0 0 3px #0a113b);
  border: 2px solid #0a113b;
  /* METTE HIDDEN QUANDO FINITO*/
  padding: 2rem 4rem;
  text-align: center;
  margin-top: 2rem;
  transition: all 0.2s ease;
}

.boxOne:hover,
.boxTwo:hover{
  background-color: rgba(255, 255, 255, 0.137);
  transform: scale(1.1);
  transition: all 0.2s;
}

/*.boxOne {
  -margin-bottom: 2rem;
}*/

.boxOne h4,
.boxTwo h4 {
  font-size: 40px;
  letter-spacing: 0.1rem;
  font-weight: normal;
}

.boxOne p,
.boxTwo p {
  word-spacing: 0.3rem;
}

.boxOne p span:first-child {
  color: #00ffff;
  font-size: 20px;
}

.boxOne p span:last-child,
.boxTwo p span {
  color: #d20094;
  font-size: 20px;
}

.percentageWrong,
.percentageRight {
  font-size: 35px;
}

/*BOTTONE RATE US*/

#btnRateUs {
  padding: 1rem 3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  background: transparent;
  filter: drop-shadow(0 0 8px black);
  color: white;
  font-weight: bold;
  font-size: 25px;
  border: 3px solid white;
  cursor: pointer;
}

#btnRateUs:hover {
  background-color: #00ffff;
  /*STESSO STILE DEI BOTTONI QUANDO*/
  border-color: #00ffff;
  color: #0a113b;
  filter: drop-shadow(0 0 8px black);

}

.mainResultPage {
  text-align: center;
}

/*--------PAGINA 4--------*/

.titleFeedback {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: -50px;
}

#titleFeedbackH2 {
  color: white;
  font-family: outfit;
  position: relative;
  display: inline-block;
  padding-bottom: 2rem;
}

#titleFeedbackH2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #d20094;
}

#description {
  padding-top: 25px;
  margin-top: -35px;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ratingStars {
  user-select: none;
  text-align: center;

}


.star {
  font-size: 3rem;
  color: #00ffff;
  background-color: unset;
  border: none;
  padding: 1rem;
  filter: drop-shadow(0 0 5px #d200937a);
}


/*---RATING STARS-----*/

/* .ratingStars{
  user-select: none;

}

.star{
  font-size: 3rem;
  color: #00ffff;
  background-color: unset;
  border: none;
  padding: 1rem;
  filter: drop-shadow(0 0 3px #00ffff);
}

.star:hover{
  cursor: pointer;

} */




.ratingStars {
  user-select: none;
  text-align: center;
  margin-bottom: 2rem;
}

.star {
  font-size: 3rem;
  padding: 0.5rem;
  transition: all 0.2s;
  cursor: pointer;
  color: transparent;
  background: linear-gradient(to bottom, #800080, #800080);
  background-clip: text;
  position: relative;
}

.star::before {
  content: '\2605';
  /*codice stella piena */
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #00ffff;
  opacity: 0;
  transition: opacity 0.2s;
}

.star.hover::before {
  opacity: 1;
  filter: drop-shadow(0 0 3px #1fffff);
}

.star.selected::before {
  opacity: 1;
  filter: drop-shadow(0 0 3px #1fffff);
}

.star:focus {
  outline: none;
}



#reviewDescription {
  font-size: 22px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
  color: white;
}

#inputFeedback {
  width: 100%;
  max-width: calc(100vmin + 60vmin);
  padding: 10px;
  padding-top: 70px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #800080;
  background-color: transparent;
  color: white;
  outline: none;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}

#inputFeedback::placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}

#buttonDiv {
  padding-top: 30px;
}

#feedbackButton {
  padding: 1rem 3rem;
  background-color: #00ffff;
  display: block;
  margin: 30px auto;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #0a113b;
  filter: drop-shadow(0 0 8px #00ffff);


}

#feedbackButton:hover {
  background-color: #00cccc;
}

/*---------PAGINA EXTRA---------*/

.feedbackPage {
  text-align: center;
}

.feedbackPage p {
  padding: 3rem 0 10rem 0;
  font-size: 22px;
}

.feedbackPage button{
  cursor: pointer;
  font-size: 25px;
}

.feedbackTitle {
  color: white;
  font-size: 60px;
  padding-top: 10rem;
}

.feedbackTitle img {
  display: inline;
  width: 100px;
  padding-right: 2rem;
}

#btnBack {
  padding: 1rem 3rem;
  background-color: #00ffff;
  filter: drop-shadow(0 0 8px #00ffff);
  color: black;
  border: 3px solid transparent;
  float: right;
  margin-right: 5rem;
}

#btnResult {
  padding: 1rem 3rem;
  background: transparent;
  filter: drop-shadow(0 0 8px black);
  color: white;
  border: 3px solid white;
  margin-left: 5rem;
  float: left;
}

#btnResult:hover,
#btnBack:hover {
  background-color: #00ffff;
  border-color: #00ffff;
  color: #0a113b;
  filter: drop-shadow(0 0 8px black);
}

.buttonsFinal{
  margin-bottom: 10rem;
}

footer{
  text-align: center;
  font-size: 20px;
}

footer p img{
  padding-right: 1.5rem;
  width: 60px;
}

footer p img, footer p{
  display: inline-block;
  vertical-align: middle;
}

footer a:hover{
  color: #d20094;
}






/* PAGINA 3 LISTA DOMANDE*/
#questionList{
  margin-left: 0;
}

#questionList li {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 8px;
  padding: 1rem 2rem;
  width: 100%;
  margin: 2rem 0;
  list-style-type: none;
  text-align: left;
}
#questionList li:hover{
background-color: rgba(255, 255, 255, 0.2);
}

#questionList h4{
  font-size: 30px;
  margin-bottom: 1rem;
}
#questionList p {
  font-size: 22px;
  line-height: 2.5rem;
}

#backWelcome{
  padding: 1rem 2rem;
  margin-top: 1rem;
  background: transparent;
  filter: drop-shadow(0 0 8px black);
  color: white;
  font-weight: bold;
  font-size: 25px;
  border: 3px solid white;
  cursor: pointer;
}
#backWelcome:hover{
background-color: #00ffff;
border-color: #00ffff;
color: black;
}