*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}
.container{
    background-image: url(/assets/img/bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 100px;
}

header{
    margin-bottom: 2.5rem;
}

.logo{
    width: 300px;
    padding: 2rem 2rem;
    text-align: center;
}

h1{
    
    font-size: 60px;
    font-weight: 350;
    color: white;
    margin-bottom: 3rem;
}

.title{
    font-family: 'Outfit', serif;
}

.bold{
    font-weight: bold;
}

h2{
    color: #d20094;
    margin-bottom: 2rem;
}

ul {
    margin-left: 2rem;
}
.writings{
    text-align: left;
    padding-left: 4rem;
    margin: 5rem 1rem;
    line-height: 40px;
    font-size: 16px;
}

.formContent{
    display: inline-block;
}

.formContent div, .formContent form{
    display: inline-block;
    text-align: left;
}

.formContent form{
    padding: 5rem 10rem 0 0;
}

#bntWelcome{
    padding: 1rem 3rem;
    margin-left: 40rem;
    background-color: #00ffff;
    filter: drop-shadow(0 0 8px #00ffff);
    color: black;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid transparent;
    cursor: pointer;
}

#errorMessage{
    display: none;
    color: red;
}

/*TITOLO + PARAGRAFO*/

.titleParagraph{
    text-align: center;
}

.titleParagraph h2{
    color: white;
    font-size: 60px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.titleParagraph p{
   font-size: 32px;
   margin-bottom: 3rem;
}

/* PROVA GARFICO A DONUT*/

.chart{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: conic-gradient(#d20094 0deg 80deg, #00ffff 80deg 180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chartPosition{
    max-width: fit-content;
}

.chart::before{
    content: '';
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #0a113b;
    
}

/*BOX RIGHT AND WRONG*/

.boxes{
    max-width: fit-content;
    line-height: 40px;
    margin-left: 15rem;
    text-align: center;
}

.boxes, .chartPosition{
    display: inline-block;
    vertical-align: top;
}

.boxOne, .boxTwo{
    background-color: transparent;
    filter: drop-shadow(0 0 3px #0a113b);
    border: 2px solid #0a113b;
    padding: 2rem 5rem;
}

.boxOne{
    margin-bottom: 2rem;
}

.boxOne h4, .boxTwo h4{
    font-size: 30px;
    letter-spacing: 0.3rem;
    font-weight: normal;
}

.boxOne p, .boxTwo p{
    word-spacing: 0.3rem;
}

.boxOne p span, .boxTwo p span{
    color: #d20094;
    font-size: 20px;
}

.percentageWrong, .percentageRight{
    font-size: 30px;
}

/*BOTTONE RATE US*/

#btnRateUs {
    padding: 1rem 3rem;
    margin-top: 5rem;
    background: transparent;
    filter: drop-shadow(0 0 8px black);
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid white;
    cursor: pointer;
}

#btnRateUs:hover{
    background-color: white;
    color: #0a113b;
    filter: drop-shadow(0 0 8px black);

}

.mainResultPage{
    text-align: center;
}




